# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
!.env
.env.keys
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

## Panda
styled-system
styled-system-studio

# Obsidian content
src/content/.obsidian/
src/content/assets/
src/content/templates/

# Cloudflare workers cache
.cloudflare/
.wrangler/