---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import AwardCard from '@/components/features/award/AwardCard.astro';
import SectionTitle from '@/components/shared/SectionTitle.astro';
import { Expand } from '@/components/shared/Expand';
import { AwardGrid } from '@/components/features/award/AwardGrid.tsx';

// awardをMarkdownファイルをすべて取得
const allAwards = await getCollection('award');

// dateを新しい順でソート
const awards = allAwards
  .filter((award) => award.data.isPublish)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Awards">
  <SectionTitle>Awards</SectionTitle>
  <Expand>
    {awards.length === 0 ? (
      <p>No awards found.</p>
    ) : (
      <AwardGrid>
        {awards.map((award) => (
          <AwardCard
            award={{
              id: award.id,
              data: {
                ...award.data,
                slug: award.data.slug ?? award.id,
                content: award.body,
              },
            }}
          />
        ))}
      </AwardGrid>
    )}
  </Expand>
</BaseLayout>