---
import { cva } from 'styled-system/css';

export const containerRecipes = cva({
  base: {
    display: 'flex',
    minH: '100vh',
    flexDir: 'column',
    alignItems: 'center',
    bg: 's.bg',
  }
})
---

<div class={containerRecipes()}>
  <slot />
</div>