---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Expand } from '@/components/shared/Expand';
import SectionTitle from '@/components/shared/SectionTitle.astro';
import BlogCard from '@/components/features/blog/BlogCard.astro';
import { ArticleGrid } from '@/components/features/blog/ArticleGrid';

// blogをMarkdownファイルをすべて取得
const allBlogPosts = await getCollection('blog');

// isPublishがfalseのものは除外
// publishDateを新しい順でソート
const posts = allBlogPosts
	.filter((post) => post.data.isPublish)
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout title="Blogs">
	<SectionTitle>Blogs</SectionTitle>
	<Expand>
		{posts.length === 0 ? (
			<p>No blog posts found.</p>
		) : (
			<ArticleGrid>
				{posts.map((blog) => (
					<BlogCard
          	blog={{
            	id: blog.id,
            	data: { 
								...blog.data, 
								slug: blog.data.slug ?? blog.id,
								content: blog.body,
							},
          	}}
        	/>
				))}
			</ArticleGrid>
		)}
	</Expand>
</BaseLayout>