@layer reset, base, tokens, recipes, utilities;

@import './embed.css';
@import './callout.css'; /* コールアウトのスタイル */

/* Mantineによって背景の色が上書きされる。ここで再設定 */
body {
    background-color: var(--colors-s-bg);
}

[data-theme='dark'] body {
    background-color: var(--colors-sz-bg);
}
