---
import { getAwardPosts } from "@/lib/post";
import { SectionLayout } from "@/components/shared/SectionLayout";
import SectionTitle from "@/components/shared/SectionTitle.astro";
import AwardCard from "@/components/features/award/AwardCard.astro";
import { Expand } from "@/components/shared/Expand";
import { AwardGrid } from "@/components/features/award/AwardGrid.tsx";

// awardをMarkdownファイルをすべて取得
const awards = await getAwardPosts();
---

<SectionLayout>
  <SectionTitle>Award</SectionTitle>
  <Expand>
    {
      awards.length === 0 ? (
        <p>No awards found.</p>
      ) : (
        <AwardGrid>
          {awards.map((award) => (
            <AwardCard
              award={{
                id: award.id,
                data: {
                  ...award.data,
                  slug: award.data.slug ?? award.id,
                  description: award.data.description ?? undefined,
                },
              }}
            />
          ))}
        </AwardGrid>
      )
    }
  </Expand>
</SectionLayout>
