---
import { getProductPosts } from "@/lib/post";
import { SectionLayout } from "@/components/shared/SectionLayout";
import SectionTitle from "@/components/shared/SectionTitle.astro";
import { ArticleGrid } from "@/components/features/blog/ArticleGrid";
import ProductCard from "@/components/features/product/ProductCard.astro";
import { Expand } from "@/components/shared/Expand";

const products = await getProductPosts();
---

<SectionLayout>
  <SectionTitle>Product</SectionTitle>
  <Expand>
    {
      products.length === 0 ? (
        <p>No products found.</p>
      ) : (
        <ArticleGrid>
          {products.map((product) => (
            <ProductCard
              product={{
                id: product.id,
                data: {
                  ...product.data,
                  slug: product.data.slug ?? product.id,
                  description: product.data.description ?? undefined,
                  content: product.body,
                },
              }}
            />
          ))}
        </ArticleGrid>
      )
    }
  </Expand>
</SectionLayout>
