---
import { Flex, HStack, Center, styled as s } from "styled-system/jsx";
import { Icon } from "astro-iconify";
import { CONTACT_LINKS } from "@/consts/contact";
import { Content as ProfileContent } from "@/content/profile.md";
import { SectionLayout } from "@/components/shared/SectionLayout";
import SectionTitle from "@/components/shared/SectionTitle.astro";
import Avatar from "@/components/ui/Avatar.astro";
---

<SectionLayout>
  <SectionTitle>Profile</SectionTitle>
  <Flex
    flexDir={{ base: 'column', md: "row" }}
    justifyContent={{ base: "center", md: "start" }}
    alignItems={{ base: "center", md: "start" }}
    gap="6"
  >
    <div>
      <Avatar square border size={200} />
      <HStack
        px="4"
        mt="4"
        justifyContent="center"
        alignItems="center"
        gap="6"
      >
        {CONTACT_LINKS.map((link) => (
          <a
            href={link.url}
            rel="noopener noreferrer"
            target="_blank"
          >
            <Icon size={24} color={link.color} name={link.icon} />
          </a>
        ))}
      </HStack>
    </div>
    <div>
      <s.h3
        my="1"
        pb="1"
        borderBottomWidth="1"
        borderBottomColor="sz.border"
        fontWeight="bold"
        fontSize="2xl"
      >suzu / @suzuuuuu09</s.h3>
      <ProfileContent class="markdown-content"/>
      <s.a
        href="/about"
        color="sz.primary"
        _hover={{ textDecoration: 'underline' }}
      > もっと見る </s.a>
    </div>
  </Flex>
</SectionLayout>