---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ArticleGrid } from "@/components/features/blog/ArticleGrid";
import SectionTitle from "@/components/shared/SectionTitle.astro";
import { Expand } from "@/components/shared/Expand";
import ProductCard from "@/components/features/product/ProductCard.astro";

// productをMarkdownファイルをすべて取得
const allProducts = await getCollection("product");

// isPublishがfalseのものは除外
// publishDateを新しい順でソート
const products = allProducts
  .filter((product) => product.data.isPublish)
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout title="Products">
  <SectionTitle>Products</SectionTitle>
  <Expand>
    {products.length === 0 ? (
      <p>No products found.</p>
    ) : (
      <ArticleGrid>
        {products.map((product) => (
          <ProductCard
            product={{
              id: product.id,
              data: {
                ...product.data,
                slug: product.data.slug ?? product.id,
                content: product.body,
              },
            }}
          />
        ))}
      </ArticleGrid>
    )}
  </Expand>