---
import { Flex, HStack, styled as s } from "styled-system/jsx";
import { css, cx } from "styled-system/css";
import TagList from "@/components/features/blog/TagList.astro";
import { Card } from "@/components/ui/Card";
// import Thumbnail from "@/components/shared/Thumbnail";
import Thumbnail from "@/components/shared/Thumbnail.astro";
import ReadingTime from "@/components/shared/ReadingTime.astro";
import Date from "@/components/shared/Date.astro";
import BudouxText from "@/components/shared/BudouxText.astro";

export interface Props {
	product: {
		id: string;
		data: {
			title: string;
			description?: string;
			slug?: string;
			author?: string;
			publishDate: Date;
			updateDate?: Date;
			tags?: string[];
			thumbnail: string;
			content?: string;
		};
	};
	priority?: boolean;
}

const { product, priority = false } = Astro.props;
---

<Card maxW="450px">
  <a
    href={`/product/${product.id}/`}
    class={cx(
      css({ color: "sz.text.main", textDecoration: "none" }),
      css({ display: "flex", flexDirection: "column", height: "100%" }),
    )}
  >
    <Thumbnail
      thumbnailPath={product.data.thumbnail || ""}
      title={product.data.title}
      type="card"
      loading={priority ? "eager" : "lazy"}
      fetchpriority={priority ? "high" : "auto"}
    />

    <Flex
      position="relative"
      bgGradient="to-r"
      gradientFrom="sz.primary/5"
      gradientVia="sz.primary/10"
      gradientTo="sz.primary/5"
      p={{ base: "6", _sm: "6" }}
      pb={{ base: "4", _sm: "4" }}
      flex="1"
      flexDir="column"
    >
      <s.h2
        lineHeight="snug"
        transition="colors 0.3s"
        mx="1"
        mb="3"
        fontWeight="bold"
        fontSize="xl"
        overflow="hidden"
        textOverflow="ellipsis"
        lineClamp="2"
        display="flex"
        flexWrap="wrap"
        gap="0.5"
        _groupHover={{ color: "sz.primary" }}
      >
        <BudouxText text={product.data.title} />
      </s.h2>

      <Flex flexDir="column" flex="1" justifyContent="space-between">
        {
          product.data.tags && product.data.tags.length > 0 && (
            <HStack gap="2" mb="7">
              <TagList omit tags={product.data.tags} />
            </HStack>
          )
        }

        <HStack
          justify="flex-end"
          borderTopWidth="1px"
          borderColor="sz.border/30"
          pt="3"
          gap="2"
        >
          <!-- 読了時間 -->
          <ReadingTime content={product.data.content || ""} gap="1" />

          <!-- 公開日 -->
          <Date date={product.data.publishDate || ""} gap="1" type="publish" />
        </HStack>
      </Flex>
    </Flex>
  </a>
</Card>
