---
import { styled as s } from "styled-system/jsx";
import Icon from "astro-iconify";
import { getIconData } from "@/utils/icon";

interface Props {
  useHashTag?: boolean;
  name: string;
}

const { useHashTag = false, name } = Astro.props;

const iconData = getIconData(name);
const hasSkillIcon = !!iconData;
---

<s.span
  display="flex"
  alignItems="center"
  fontSize="xs"
  color="sz.primary"
  bgColor="sz.primary/20"
  fontWeight="medium"
  rounded="full"
  h="8"
  minH="8"
  px="2"
  py="1"
  gap="1"
>
  {useHashTag && (
    <>
      <s.div
        display="inline-flex"
        alignItems="center"
        p="1"
        rounded="full"
        bgColor="sz.bg-on.100"
      >
        {hasSkillIcon ? (
          <Icon name={iconData!.icon} size={16} />
        ) : (
          <Icon name="mdi:tag" size={16} />
        )}
      </s.div>
      <p>#</p>
    </>
  )}
  <s.p fontSize="xs">{hasSkillIcon ? iconData!.name : name}</s.p>
  
</s.span>